#headerContainer {
	height: 50px;
	width: 100%;
	box-shadow: 10px 0px 10px #9c898975;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 5;
	background: #ffffff;
}
#logoContainer {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 20pt;
	font-weight: bold;
	margin-left: 30px;
}
#logo{
	background: linear-gradient(40deg,#ffd86f,#fc6262);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	font-style: italic;
	padding: 5px 10px;
	font-size: 16pt;
	text-align: center;
	line-height: .8;
}
#burgerIconContainer {
	margin: 5px;
	cursor: pointer;
}
.burgerSlice {
	height: 2px;
	width: 25px;
	background: linear-gradient(40deg,#ffd86f,#fc6262);
	margin: 6px 0px;
}
#headerSearchFormContainer {
	flex: 4;
}
#headerCartIcon {
	flex: 1;
	display: flex;
	justify-content: center;
	padding: 0px 10px;
}
#cartIconContainer {
	width: 28px;
	position: relative;
}
#cartIcon {
	cursor: pointer;
	font-size: 18pt;
	background: linear-gradient(40deg,#fc6262, #fcefcb);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}
#cartCounter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -8px;
	left: -18px;
	font-size: 9pt;
	font-weight: bold;
	margin-left: 2px;
	color: #ffffff;
	border-radius: 50%;
	background: linear-gradient(40deg,#fc6262, #fcefcb);
}
#signIn {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15pt;
	background: linear-gradient(40deg,#ffd86f, #fc6262);
	height: 100%;
	color: #ffffff;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	padding: 0px 10px;
}